html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f1f1;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 30rem;
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  display: block;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
main {
  grid-area: main;
}

/* Common */
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
h1 {
  font-size: 4rem;
  padding: 1rem 0;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #19456b;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btnArah{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  padding: 5px 15px;
  transition: 0.5s;
  cursor: pointer;
}
.btnArah a{
  color: #16c79a;
}
.btnArah a:hover{
  color: #19456b;
}
.btn{
  display: inline-block;
  background: #16c79a;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  margin-bottom: 40px;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-5px);
}
.btnRead{
  display: inline-block;
  background: #16c79a;
  color: white;
  padding: 1px 6px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.btnRead:hover{
  transform: translateY(-5px);
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #16c79a solid;
}
button.primary {
  background-color: #16c79a;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

.btncreate{
  float: right;
}

.btnDelete{
  display: inline-block;
  background: red;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  margin-bottom: 40px;
  transition: 0.5s;
  cursor: pointer;
}
.btnEdit{
  display: inline-block;
  background: #11698e;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  margin-bottom: 40px;
  transition: 0.5s;
  cursor: pointer;
}

.border{
  width: 180px;
  height: 4px;
  background: #16c79a;
  border-radius: 50px;
  margin: 0 auto 20px;
}
/* Dropdown */
.dropdown {
  display: inline-block;
}
.dropdown-content p{
  font-size: 12pt;
}
.dropdown-content {
  position: absolute;
  display: none;
  z-index: 2;
  background-color: #16c79a;
  margin: 0;
  margin-right: 5px;
  border-radius: 0.3rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Header */
header {
  grid-area: header;
  background-color: #16c79a;
  display: flex;
}
header a {
  color: #ffffff;
  padding: 1rem;
}
.logo img {
  margin-top: 20px;
  width: 8%;
  float: left;
  display: flex;
  cursor: pointer;
  min-width: 70px;
}
.menu {
  margin-top: 15px;
  display: flex;
  float: right;
}
.menu a{
  font-size: 12pt;
  margin-bottom: 0;
  padding: 1px 0 0 0;
  text-decoration: none;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
}
.menu p{
  margin-top: 6px;
  margin-bottom: 1px;
  text-align: left;
}
.menu svg{
  padding: 8px;
  transition: .3s;
}
.menu a:hover{
  color: #2020a0;
}
/* main */
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  text-align: center;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  margin-bottom: 30px;
  /* display: flex; */
}
.col-2-simulasi{
  flex-basis: 20%;
  min-width: 50px;
  margin-top: 50px;
  display: flex;
}
.col-2-simulasi img{
  width: 50%;
  height: fit-content;
  margin-left: 60px;
}
.col-2-tombol{
  flex-basis: 20%;
  min-width: 50px;
  margin-top: 50px;
  display: flex;
}
.col-2-tombol ul{
  padding: 10px;
}
.col-2 img{
  width: 55%;
  margin-right: 50px;
}
.col-3 {
  flex: 32 1 75rem;
  flex-basis: 30%;
  min-width: 50px;
  margin-bottom: 30px;
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
}
.col-3:hover{
  transform: translateY(-5px);
  border-radius: 10px;
  background: #cecece;
}
.col-3 img{
  margin-top: 10px;
  width: 40%;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
.banner{
  padding: 110px;
  font-weight: bold;
  background: url('./lab.jpg');
  background-size: cover;
}
.banner h1 span{
  color: #19456b;
}
.topik{
  margin-top: 5px;
  margin-bottom: 60px;
  text-align: left;
}
.tittle .judul{
  text-align: left;
  margin: 0 auto 5px;
  position: relative;
}
.regis a{
  color: #2020a0;
}
/* forms */
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f9f3f3;
}

.form-container{
  margin-top: 3rem;
  margin-left: 20px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  /* width: 28rem; */
  padding: 2rem;
  border: .1rem #d1d1d1 solid;
  border-radius: .5rem;
  background: #ffffff;
  z-index: 50;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Table */
.table{
  width: 100%;
  margin-bottom: 20px;
}

th{
  text-align: left;
}

tbody>tr:nth-child(odd){
  background-color: #d1d1d1;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

input{
  padding: 1rem;
  border: .1rem #d1d1d1 solid;
  border-radius: .5rem;
}

.text-center{
  text-align: center;
}

/* footer */
footer {
  grid-area: footer;
  background-color: #16c79a;
  color: #ffffff;
  font-size: 16px;
  margin-top: 0;
  padding: 0 0 10px;
}
.footer-col-1{
  flex-basis: 50%;
  padding: 5px;
  min-width: 100px;
}
.footer-col-1 img{
  margin-top: 10px;
  width: 50%;
  cursor: pointer;
  min-width: 100px;
}
.footer-col-2{
  flex-basis: 20%;
  font-size: 1.4rem;
}
.follow a{
  color : white;
}

.follow a:hover{
  color : #19456b;
}

.footer h3{
  margin-bottom: 20px;
}
.follow{
  color: white;
  font-weight: bold;
}
.copyright{
  text-align: center;
}

@media screen and (max-width: 450px){
  .col-2 img{
    visibility: hidden;
    width: 1%;
  }
  .grid-container {
    grid-template-rows: 10rem 1fr 18rem;
  }
}
